h1 {
	font-weight: bold;
	font-family: helvetica;
	font-size: 44px;
}

p {font-family: helvetica;
	font-size: 16px;

}

a {font-family: helvetica;
	font-size: 16px;
	font-weight: bold;}

h4 {font-family: helvetica;
	font-size: 14px;
	font-weight: bold;}

h3 {font-family: helvetica;
	font-size: 16px;
	font-weight: bold;}

h2 {font-family: helvetica;
	font-size: 36px;
	font-weight: bold;}
